# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Spark
# ==========================
spark-warehouse/
metastore_db/

# ==========================
# Logs
# ==========================
logs/*.csv
*.log

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Terraform
# ==========================
*.tfstate
*.tfstate.*
.terraform/

# ==========================
# Docker
# ==========================
*.tar

# Pipeline Output
data/bronze/
data/hub/
data/mart/
data/reject/