# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.crc
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Spark
# ==========================
spark-warehouse/
metastore_db/

# ==========================
# Logs
# ==========================
logs/*.csv
*.log
logs/job_log.csv

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Terraform
# ==========================
*.tfstate
*.tfstate.*
.terraform/

# ==========================
# Docker
# ==========================
*.tar

# ==========================
# Pipeline Output
# ==========================
data/bronze/*
!data/bronze/.gitkeep

data/hub/*
!data/hub/.gitkeep

data/mart/*
!data/mart/.gitkeep

data/reject/*
!data/reject/.gitkeep
